@model AvScanLibrary.Models.ScanFileLog

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main-wrapper">
    <h2>Details</h2>
    <hr />
    <div class="row">
        <div class="col-xs-6">
            <h4 style="margin:0;">ScanFileLog</h4>
        </div>
        <div class="col-xs-6 text-right">
            <p>
                @Html.ActionLink("Back to List", "Log")
            </p>
        </div>
    </div>
    <div class="well-custom">
        <div class="row">
            <div class="col-sm-6">
                <p class="label-cust">@Html.DisplayNameFor(model => model.ScanId)</p>
                <p class="label-data">@Html.DisplayFor(model => model.ScanId)</p>
            </div>
            <div class="col-sm-6">
                <p class="label-cust">@Html.DisplayNameFor(model => model.FileName)</p>
                <p class="label-data">@Html.DisplayFor(model => model.FileName)</p>
            </div>
            <div class="col-sm-6">
                <p class="label-cust">@Html.DisplayNameFor(model => model.Scanner)</p>
                <p class="label-data">@Html.DisplayFor(model => model.Scanner)</p>
            </div>
            <div class="col-sm-6">
                <p class="label-cust">@Html.DisplayNameFor(model => model.FileType)</p>
                <p class="label-data">@Html.DisplayFor(model => model.FileType)</p>
            </div>
            <div class="col-sm-6">
                <p class="label-cust">@Html.DisplayNameFor(model => model.Filesize)</p>
                <p class="label-data">@Html.DisplayFor(model => model.Filesize)</p>
            </div>
            <div class="col-sm-6">
                <p class="label-cust">@Html.DisplayNameFor(model => model.StartTime)</p>
                <p class="label-data">@Html.DisplayFor(model => model.StartTime)</p>
            </div>
            <div class="col-sm-6">
                <p class="label-cust">@Html.DisplayNameFor(model => model.FinishTime)</p>
                <p class="label-data">@Html.DisplayFor(model => model.FinishTime)</p>
            </div>
            <div class="col-sm-6">
                <p class="label-cust">@Html.DisplayNameFor(model => model.Message)</p>
                <p class="label-data">@Html.DisplayFor(model => model.Message)</p>
            </div>
        </div>
    </div>
            <table>
                <thead>
                    <tr>
                        <th scope="col">Scan Id</th>
                        <th scope="col">Result</th>
                        <th scope="col">Message</th>
                    </tr>
                </thead>

                @foreach (var item in Model.ScanResults)
                {
                    <tr>
                        <td data-label="Scan ID:">@item.ScanId</td>
                        <td data-label="Result:">@item.VirusFound</td>
                        <td data-label="Message:">@item.Result</td>
                    </tr>
                }
            </table>
        
    </div>
